@import '../util/Color.scss';

.home {
	background-color: $bg;
	padding: 2rem 5rem;
}

/* -------------------------------- hero-css -------------------------------- */
.hero {
	display: flex;
	align-items: center;
	justify-content: space-around;
	@media screen and (max-width: 500px) {
		flex-direction: column-reverse;
	}
	&-text {
		width: 75ch;
		&__heading {
			font-size: 3.5rem;
			margin-bottom: 1rem;
		}
		&__subheading {
			margin-bottom: 5rem;
		}
		&__icons {
			margin-top: 4rem;

			a {
				margin: 0.8rem;
				img {
					@media screen and (max-width: 1024px) {
						height: 2rem;
					}
				}
			}
		}
	}
	&-img {
		display: flex;
		justify-content: center;
		img {
			@media screen and (max-width: 1024px) {
				width: 50rem;
			}
		}
	}
}

/* -------------------------------- card-css -------------------------------- */
.card {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: $bg;
	border: none;
	&-section {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0 2rem;
		background-color: #f1f1f1;
		border-radius: 15px;

		&__image {
			width: 100%;
		}
		&__heading {
			font-size: 2.5rem;
			margin: 2rem;
			text-decoration: underline;
		}

		&__para {
			margin: 1rem !important;
			width: 40ch;
		}
		&__btn {
			font-size: large;
			margin-top: 2rem;
			margin-bottom: 3rem;
			padding: 1.25rem 3rem;
		}
	}
}

/* -------------------------------- team-css -------------------------------- */
.team {
	&-heading {
		font-size: 4.5rem;
		text-align: center;
		margin: 2rem;
	}
	&-members {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	&-member {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 6rem 10rem;

		&__image{
			height: 20rem;
			width: 20rem;
			background-color: #eee;
			border-radius: 50%; 
			img{
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
		}
		&__name{
			margin: 1rem;
			font-size: 2.5rem;
		}
		&__designation{
			font-size: 1.5rem;

		}
	}
}
